<div *ngIf="isLoading" class="loader">Traitement de la transaction...</div>

<div class="transaction-form" *ngIf="!isLoading">
  <div class="form-header text-center">
    <h2>Effectuer une transaction</h2>
  </div>

  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <!-- <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Numéro de compte</mat-label>
          <input matInput formControlName="accountId" required>
          <mat-error *ngIf="transactionForm.get('accountId')?.hasError('required')">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>
      </div> -->

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Type de transaction</mat-label>
          <mat-select formControlName="transactionType" required>
            <mat-option *ngFor="let type of transactionTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="transactionForm.get('transactionType')?.hasError('required')">
            Ce champ est obligatoire
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Montant</mat-label>
          <input matInput type="number" step="0.01" formControlName="transactionAmount" required>
          <mat-error *ngIf="transactionForm.get('transactionAmount')?.hasError('required')">
            Ce champ est obligatoire
          </mat-error>
          <mat-error *ngIf="transactionForm.get('transactionAmount')?.hasError('min')">
            Le montant doit être positif
          </mat-error>
        </mat-form-field>
      </div>

    

     

    
    </div>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="transactionForm.invalid">
        <mat-icon>send</mat-icon> Envoyer
      </button>
    </div>
  </form>
</div>